In [3]:
#Connecting to the Google Drive for the Data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
#Path Definitions
TrainPath = "/content/drive/MyDrive/CodeGnan/Train.csv"
TestPath = "/content/drive/MyDrive/CodeGnan/Test.csv"

In [73]:
#Generally used Libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [53]:
#Loading the Trainig Data into ENV
Data = pd.read_csv(TrainPath,delimiter = ';')
TrainData = pd.DataFrame(Data)
TrainData

,EmployeeID,Target,Age,AvgDailyHours,Department,Education,EducationField,Gender,HasFlexibleTimings,IsIndividualContributor,...,RelationshipSatisfaction,RemoteWorkSatistfaction,SelfMotivationLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,WorkLoadLevel,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,100001,0,36.0,6.45,Sales,5,Technical Degree,Male,No,Yes,...,1,Medium,3,8.0,2,2,Low,8.0,1.0,8.0
1,100002,0,24.0,8.48,Sales,5,Technical Degree,Male,No,Yes,...,1,Very High,2,1.0,5,2,High,0.0,0.0,0.0
2,100003,0,45.0,6.93,Research & Development,2,Technical Degree,Female,No,Yes,...,4,High,1,17.0,6,4,Low,17.0,4.0,10.0
3,100004,1,29.0,7.10,Sales,4,Medical,Male,No,No,...,4,Medium,2,2.0,0,2,NaN,1.0,1.0,1.0
4,100005,0,30.0,7.30,Human Resources,3,Life Sciences,Female,No,Yes,...,1,Very High,4,9.0,6,1,Medium,3.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,115996,0,19.0,6.81,Sales,2,Other,Male,Yes,Yes,...,3,High,2,0.0,3,1,NaN,0.0,0.0,0.0
15996,115997,0,56.0,7.60,Sales,2,Technical Degree,Female,No,No,...,2,Low,2,7.0,2,1,Medium,6.0,2.0,2.0
15997,115998,0,26.0,6.52,Human Resources,1,Other,Female,No,Yes,...,3,High,4,5.0,3,4,High,1.0,1.0,1.0
15998,115999,0,29.0,6.11,Research & Development,4,Human Resources,Female,Yes,No,...,1,High,2,6.0,3,1,High,1.0,1.0,1.0
15999,116000,0,41.0,10.03,Human Resources,3,Human Resources,Male,No,No,...,2,Medium,3,18.0,3,3,High,0.0,0.0,0.0

In [58]:
#Info of Train Set
TrainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeID                16000 non-null  int64
 1   Target                    16000 non-null  int64
 2   Age                       15393 non-null  float64
 3   AvgDailyHours             16000 non-null  float64
 4   Department                16000 non-null  object
 5   Education                 16000 non-null  int64
 6   EducationField            16000 non-null  object
 7   Gender                    15652 non-null  object
 8   HasFlexibleTimings        15831 non-null  object
 9   IsIndividualContributor   15675 non-null  object
 10  JobInvolvement            16000 non-null  int64
 11  JobRole                   15630 non-null  object
 12  JobSatisfaction           16000 non-null  int64
 13  LeavesTaken               15951 non-null  float64
 14  MaritalStatus             15766 non-null  object
 15  MicromanagedAtWork        15862 non-null  float64
 16  MonthlyIncome             16000 non-null  int64
 17  NumCompaniesWorked        16000 non-null  int64
 18  PercentSalaryHike         16000 non-null  int64
 19  PerformanceRating         16000 non-null  int64
 20  RelationshipSatisfaction  16000 non-null  int64
 21  RemoteWorkSatistfaction   16000 non-null  object
 22  SelfMotivationLevel       16000 non-null  int64
 23  TotalWorkingYears         15667 non-null  float64
 24  TrainingTimesLastYear     16000 non-null  int64
 25  WorkLifeBalance           16000 non-null  int64
 26  WorkLoadLevel             15587 non-null  object
 27  YearsAtCompany            15667 non-null  float64
 28  YearsSinceLastPromotion   15667 non-null  float64
 29  YearsWithCurrManager      15667 non-null  float64
dtypes: float64(8), int64(13), object(9)
memory usage: 3.7+ MB

In [61]:
#Pre-processing
le = LabelEncoder()
for column in TrainData.columns:
  print(column)
  TempVal = le.fit_transform(TrainData[column].astype('category'))
  TrainData.drop(labels=[column], axis="columns", inplace=True)
  TrainData[column] = TempVal
  '''
  encoded_labels = le.classes_
  encoded_values = range(len(encoded_labels))
  labelMap = dict(zip(encoded_labels, encoded_values))
  print(labelMap)
  '''

EmployeeID
Target
Age
AvgDailyHours
Department
Education
EducationField
Gender
HasFlexibleTimings
IsIndividualContributor
JobInvolvement
JobRole
JobSatisfaction
LeavesTaken
MaritalStatus
MicromanagedAtWork
MonthlyIncome
NumCompaniesWorked
PercentSalaryHike
PerformanceRating
RelationshipSatisfaction
RemoteWorkSatistfaction
SelfMotivationLevel
TotalWorkingYears
TrainingTimesLastYear
WorkLifeBalance
WorkLoadLevel
YearsAtCompany
YearsSinceLastPromotion
YearsWithCurrManager

In [60]:
#Info of Train Set after Pre-processing
TrainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeID                16000 non-null  int64
 1   Target                    16000 non-null  int64
 2   Age                       16000 non-null  int64
 3   AvgDailyHours             16000 non-null  int64
 4   Department                16000 non-null  int64
 5   Education                 16000 non-null  int64
 6   EducationField            16000 non-null  int64
 7   Gender                    16000 non-null  int64
 8   HasFlexibleTimings        16000 non-null  int64
 9   IsIndividualContributor   16000 non-null  int64
 10  JobInvolvement            16000 non-null  int64
 11  JobRole                   16000 non-null  int64
 12  JobSatisfaction           16000 non-null  int64
 13  LeavesTaken               16000 non-null  int64
 14  MaritalStatus             16000 non-null  int64
 15  MicromanagedAtWork        16000 non-null  int64
 16  MonthlyIncome             16000 non-null  int64
 17  NumCompaniesWorked        16000 non-null  int64
 18  PercentSalaryHike         16000 non-null  int64
 19  PerformanceRating         16000 non-null  int64
 20  RelationshipSatisfaction  16000 non-null  int64
 21  RemoteWorkSatistfaction   16000 non-null  int64
 22  SelfMotivationLevel       16000 non-null  int64
 23  TotalWorkingYears         16000 non-null  int64
 24  TrainingTimesLastYear     16000 non-null  int64
 25  WorkLifeBalance           16000 non-null  int64
 26  WorkLoadLevel             16000 non-null  int64
 27  YearsAtCompany            16000 non-null  int64
 28  YearsSinceLastPromotion   16000 non-null  int64
 29  YearsWithCurrManager      16000 non-null  int64
dtypes: int64(30)
memory usage: 3.7 MB

In [88]:
#Splitting the Data
X = TrainData.drop('Target', axis=1)
y = TrainData['Target'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [87]:
#Model = RandomForest
from sklearn.ensemble import RandomForestClassifier
RFClassifier = RandomForestClassifier(n_estimators=100, random_state=42)
RFClassifier.fit(X_train, y_train)
y_pred = RFClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(RF ): {accuracy}")

Accuracy(RF): 0.88375

In [86]:
#Model = LogisticRegression
from sklearn.linear_model import LogisticRegression
LRClassifier = LogisticRegression(max_iter = 2000)
LRClassifier.fit(X_train, y_train)
y_pred = LRClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(LR): {accuracy}")

Accuracy(LR): 0.8853125

In [85]:
#Model = DecisionTree
from sklearn.tree import DecisionTreeClassifier
DTClassifier = DecisionTreeClassifier()
DTClassifier.fit(X_train, y_train)
y_pred = DTClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(DT): {accuracy}")

Accuracy(DT): 0.815625

In [83]:
#Model = SupportVectorMachine
from sklearn.svm import SVC
SVMClassifier = SVC()
SVMClassifier.fit(X_train, y_train)
y_pred = SVMClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(SVM): {accuracy}")

Accuracy(SVM): 0.8296875

In [84]:
#Model = KNN
from sklearn.neighbors import KNeighborsClassifier
KNNClassifier = KNeighborsClassifier()
KNNClassifier.fit(X_train, y_train)
y_pred = KNNClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(KNN): {accuracy}")

Accuracy(KNN): 0.8071875

In [91]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(64, 64), activation='relu', solver='sgd', random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(NN): {accuracy}")

Accuracy(NN): 0.8296875

In [64]:
#Loading Test Data into the Env
Data = pd.read_csv(TestPath,delimiter = ';')
TestData = pd.DataFrame(Data)
TestData

,EmployeeID,Age,AvgDailyHours,Department,Education,EducationField,Gender,HasFlexibleTimings,IsIndividualContributor,JobInvolvement,...,RelationshipSatisfaction,RemoteWorkSatistfaction,SelfMotivationLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,WorkLoadLevel,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,200001,31.0,9.77,Research & Development,5,Human Resources,Female,No,Yes,2,...,3,Very High,1,6.0,6,3,High,1.0,1.0,1.0
1,200002,52.0,7.98,Human Resources,3,Marketing,Female,No,No,3,...,1,Medium,2,10.0,4,3,Low,1.0,1.0,1.0
2,200003,20.0,6.20,Sales,4,Technical Degree,Male,Yes,No,4,...,1,Low,3,1.0,0,3,Low,0.0,0.0,0.0
3,200004,41.0,10.40,Human Resources,4,Life Sciences,Male,No,Yes,2,...,4,High,1,12.0,6,4,Low,7.0,5.0,4.0
4,200005,20.0,7.67,Sales,5,Medical,Female,No,No,4,...,1,Medium,2,0.0,3,4,Low,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,203996,47.0,8.19,Human Resources,1,Human Resources,Female,No,Yes,2,...,3,Very High,3,2.0,2,4,Medium,2.0,2.0,2.0
3996,203997,31.0,6.51,Human Resources,4,Human Resources,Male,No,NaN,4,...,3,Very Low,3,7.0,5,2,Medium,5.0,5.0,1.0
3997,203998,60.0,7.02,Human Resources,3,Human Resources,Female,No,No,3,...,1,High,2,34.0,1,3,Low,1.0,1.0,1.0
3998,203999,34.0,7.19,Research & Development,1,Marketing,Female,No,Yes,4,...,2,Very High,3,9.0,5,3,Low,8.0,3.0,1.0
3999,204000,51.0,7.91,Sales,5,Human Resources,Female,NaN,NaN,1,...,4,High,1,27.0,1,1,Medium,23.0,0.0,6.0

In [67]:
#Info of Test data before Pre-preocessing
TestData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeID                4000 non-null   int64
 1   Age                       3873 non-null   float64
 2   AvgDailyHours             4000 non-null   float64
 3   Department                4000 non-null   object
 4   Education                 4000 non-null   int64
 5   EducationField            4000 non-null   object
 6   Gender                    3917 non-null   object
 7   HasFlexibleTimings        3971 non-null   object
 8   IsIndividualContributor   3921 non-null   object
 9   JobInvolvement            4000 non-null   int64
 10  JobRole                   3907 non-null   object
 11  JobSatisfaction           4000 non-null   int64
 12  LeavesTaken               3987 non-null   float64
 13  MaritalStatus             3934 non-null   object
 14  MicromanagedAtWork        3973 non-null   float64
 15  MonthlyIncome             4000 non-null   int64
 16  NumCompaniesWorked        4000 non-null   int64
 17  PercentSalaryHike         4000 non-null   int64
 18  PerformanceRating         4000 non-null   int64
 19  RelationshipSatisfaction  4000 non-null   int64
 20  RemoteWorkSatistfaction   4000 non-null   object
 21  SelfMotivationLevel       4000 non-null   int64
 22  TotalWorkingYears         3929 non-null   float64
 23  TrainingTimesLastYear     4000 non-null   int64
 24  WorkLifeBalance           4000 non-null   int64
 25  WorkLoadLevel             3904 non-null   object
 26  YearsAtCompany            3923 non-null   float64
 27  YearsSinceLastPromotion   3923 non-null   float64
 28  YearsWithCurrManager      3923 non-null   float64
dtypes: float64(8), int64(12), object(9)
memory usage: 906.4+ KB

In [68]:
#Pre-processing on Test Data
le = LabelEncoder()
for column in TestData.columns:
  print(column)
  TempVal = le.fit_transform(TestData[column].astype('category'))
  TestData.drop(labels=[column], axis="columns", inplace=True)
  TestData[column] = TempVal
  '''
  encoded_labels = le.classes_
  encoded_values = range(len(encoded_labels))
  labelMap = dict(zip(encoded_labels, encoded_values))
  print(labelMap)
  '''

EmployeeID
Age
AvgDailyHours
Department
Education
EducationField
Gender
HasFlexibleTimings
IsIndividualContributor
JobInvolvement
JobRole
JobSatisfaction
LeavesTaken
MaritalStatus
MicromanagedAtWork
MonthlyIncome
NumCompaniesWorked
PercentSalaryHike
PerformanceRating
RelationshipSatisfaction
RemoteWorkSatistfaction
SelfMotivationLevel
TotalWorkingYears
TrainingTimesLastYear
WorkLifeBalance
WorkLoadLevel
YearsAtCompany
YearsSinceLastPromotion
YearsWithCurrManager

In [69]:
#Info after Pre-processing
TestData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeID                4000 non-null   int64
 1   Age                       4000 non-null   int64
 2   AvgDailyHours             4000 non-null   int64
 3   Department                4000 non-null   int64
 4   Education                 4000 non-null   int64
 5   EducationField            4000 non-null   int64
 6   Gender                    4000 non-null   int64
 7   HasFlexibleTimings        4000 non-null   int64
 8   IsIndividualContributor   4000 non-null   int64
 9   JobInvolvement            4000 non-null   int64
 10  JobRole                   4000 non-null   int64
 11  JobSatisfaction           4000 non-null   int64
 12  LeavesTaken               4000 non-null   int64
 13  MaritalStatus             4000 non-null   int64
 14  MicromanagedAtWork        4000 non-null   int64
 15  MonthlyIncome             4000 non-null   int64
 16  NumCompaniesWorked        4000 non-null   int64
 17  PercentSalaryHike         4000 non-null   int64
 18  PerformanceRating         4000 non-null   int64
 19  RelationshipSatisfaction  4000 non-null   int64
 20  RemoteWorkSatistfaction   4000 non-null   int64
 21  SelfMotivationLevel       4000 non-null   int64
 22  TotalWorkingYears         4000 non-null   int64
 23  TrainingTimesLastYear     4000 non-null   int64
 24  WorkLifeBalance           4000 non-null   int64
 25  WorkLoadLevel             4000 non-null   int64
 26  YearsAtCompany            4000 non-null   int64
 27  YearsSinceLastPromotion   4000 non-null   int64
 28  YearsWithCurrManager      4000 non-null   int64
dtypes: int64(29)
memory usage: 906.4 KB

In [74]:
#Predicting Stress values on Test Data
XTest = TestData
y_pred = RFClassifier.predict(XTest)
print(y_pred)

[0 0 0 ... 0 0 0]