In [2]:
#Connecting to the Google Drive for the Data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Path Definitions
TrainPath = "/content/drive/MyDrive/CodeGnan/Train.csv"
TestPath = "/content/drive/MyDrive/CodeGnan/Test.csv"

In [4]:
#Generally used Libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle

In [5]:
#Loading the Trainig Data into ENV
Data = pd.read_csv(TrainPath,delimiter = ';')
TrainData = pd.DataFrame(Data)
TrainData

,EmployeeID,Target,Age,AvgDailyHours,Department,Education,EducationField,Gender,HasFlexibleTimings,IsIndividualContributor,...,RelationshipSatisfaction,RemoteWorkSatistfaction,SelfMotivationLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,WorkLoadLevel,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,100001,0,36.0,6.45,Sales,5,Technical Degree,Male,No,Yes,...,1,Medium,3,8.0,2,2,Low,8.0,1.0,8.0
1,100002,0,24.0,8.48,Sales,5,Technical Degree,Male,No,Yes,...,1,Very High,2,1.0,5,2,High,0.0,0.0,0.0
2,100003,0,45.0,6.93,Research & Development,2,Technical Degree,Female,No,Yes,...,4,High,1,17.0,6,4,Low,17.0,4.0,10.0
3,100004,1,29.0,7.10,Sales,4,Medical,Male,No,No,...,4,Medium,2,2.0,0,2,NaN,1.0,1.0,1.0
4,100005,0,30.0,7.30,Human Resources,3,Life Sciences,Female,No,Yes,...,1,Very High,4,9.0,6,1,Medium,3.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,115996,0,19.0,6.81,Sales,2,Other,Male,Yes,Yes,...,3,High,2,0.0,3,1,NaN,0.0,0.0,0.0
15996,115997,0,56.0,7.60,Sales,2,Technical Degree,Female,No,No,...,2,Low,2,7.0,2,1,Medium,6.0,2.0,2.0
15997,115998,0,26.0,6.52,Human Resources,1,Other,Female,No,Yes,...,3,High,4,5.0,3,4,High,1.0,1.0,1.0
15998,115999,0,29.0,6.11,Research & Development,4,Human Resources,Female,Yes,No,...,1,High,2,6.0,3,1,High,1.0,1.0,1.0
15999,116000,0,41.0,10.03,Human Resources,3,Human Resources,Male,No,No,...,2,Medium,3,18.0,3,3,High,0.0,0.0,0.0

In [6]:
#Info of Train Set
TrainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeID                16000 non-null  int64
 1   Target                    16000 non-null  int64
 2   Age                       15393 non-null  float64
 3   AvgDailyHours             16000 non-null  float64
 4   Department                16000 non-null  object
 5   Education                 16000 non-null  int64
 6   EducationField            16000 non-null  object
 7   Gender                    15652 non-null  object
 8   HasFlexibleTimings        15831 non-null  object
 9   IsIndividualContributor   15675 non-null  object
 10  JobInvolvement            16000 non-null  int64
 11  JobRole                   15630 non-null  object
 12  JobSatisfaction           16000 non-null  int64
 13  LeavesTaken               15951 non-null  float64
 14  MaritalStatus             15766 non-null  object
 15  MicromanagedAtWork        15862 non-null  float64
 16  MonthlyIncome             16000 non-null  int64
 17  NumCompaniesWorked        16000 non-null  int64
 18  PercentSalaryHike         16000 non-null  int64
 19  PerformanceRating         16000 non-null  int64
 20  RelationshipSatisfaction  16000 non-null  int64
 21  RemoteWorkSatistfaction   16000 non-null  object
 22  SelfMotivationLevel       16000 non-null  int64
 23  TotalWorkingYears         15667 non-null  float64
 24  TrainingTimesLastYear     16000 non-null  int64
 25  WorkLifeBalance           16000 non-null  int64
 26  WorkLoadLevel             15587 non-null  object
 27  YearsAtCompany            15667 non-null  float64
 28  YearsSinceLastPromotion   15667 non-null  float64
 29  YearsWithCurrManager      15667 non-null  float64
dtypes: float64(8), int64(13), object(9)
memory usage: 3.7+ MB

In [26]:
#PreProcessing
le = LabelEncoder()
PreProTrainData = pd.DataFrame()
for column in TrainData.columns:
  if TrainData[column].dtype == object:
    TempVal = le.fit_transform(TrainData[column].astype('category'))
    PreProTrainData[column] = TempVal
  else:
    PreProTrainData[column] = TrainData[column]
PreProTrainData.drop("EmployeeID", axis = 1, inplace = True)
PreProTrainData.dropna(inplace = True)

In [20]:
#Info of Train Set after Pre-processing
PreProTrainData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14577 entries, 0 to 15999
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Target                    14577 non-null  int64
 1   Age                       14577 non-null  float64
 2   AvgDailyHours             14577 non-null  float64
 3   Department                14577 non-null  int64
 4   Education                 14577 non-null  int64
 5   EducationField            14577 non-null  int64
 6   Gender                    14577 non-null  int64
 7   HasFlexibleTimings        14577 non-null  int64
 8   IsIndividualContributor   14577 non-null  int64
 9   JobInvolvement            14577 non-null  int64
 10  JobRole                   14577 non-null  int64
 11  JobSatisfaction           14577 non-null  int64
 12  LeavesTaken               14577 non-null  float64
 13  MaritalStatus             14577 non-null  int64
 14  MicromanagedAtWork        14577 non-null  float64
 15  MonthlyIncome             14577 non-null  int64
 16  NumCompaniesWorked        14577 non-null  int64
 17  PercentSalaryHike         14577 non-null  int64
 18  PerformanceRating         14577 non-null  int64
 19  RelationshipSatisfaction  14577 non-null  int64
 20  RemoteWorkSatistfaction   14577 non-null  int64
 21  SelfMotivationLevel       14577 non-null  int64
 22  TotalWorkingYears         14577 non-null  float64
 23  TrainingTimesLastYear     14577 non-null  int64
 24  WorkLifeBalance           14577 non-null  int64
 25  WorkLoadLevel             14577 non-null  int64
 26  YearsAtCompany            14577 non-null  float64
 27  YearsSinceLastPromotion   14577 non-null  float64
 28  YearsWithCurrManager      14577 non-null  float64
dtypes: float64(8), int64(21)
memory usage: 3.3 MB

In [23]:
PreProTrainData

,Target,Age,AvgDailyHours,Department,Education,EducationField,Gender,HasFlexibleTimings,IsIndividualContributor,JobInvolvement,...,RelationshipSatisfaction,RemoteWorkSatistfaction,SelfMotivationLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,WorkLoadLevel,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,0,36.0,6.45,2,5,5,1,0,1,1,...,1,2,3,8.0,2,2,1,8.0,1.0,8.0
1,0,24.0,8.48,2,5,5,1,0,1,1,...,1,3,2,1.0,5,2,0,0.0,0.0,0.0
2,0,45.0,6.93,1,2,5,0,0,1,3,...,4,0,1,17.0,6,4,1,17.0,4.0,10.0
3,1,29.0,7.10,2,4,3,1,0,0,4,...,4,2,2,2.0,0,2,3,1.0,1.0,1.0
4,0,30.0,7.30,0,3,1,0,0,1,2,...,1,3,4,9.0,6,1,2,3.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,0,19.0,6.81,2,2,4,1,1,1,1,...,3,0,2,0.0,3,1,3,0.0,0.0,0.0
15996,0,56.0,7.60,2,2,5,0,0,0,2,...,2,1,2,7.0,2,1,2,6.0,2.0,2.0
15997,0,26.0,6.52,0,1,4,0,0,1,4,...,3,0,4,5.0,3,4,0,1.0,1.0,1.0
15998,0,29.0,6.11,1,4,0,0,1,0,4,...,1,0,2,6.0,3,1,0,1.0,1.0,1.0
15999,0,41.0,10.03,0,3,0,1,0,0,4,...,2,2,3,18.0,3,3,0,0.0,0.0,0.0

In [29]:
#Splitting the Data
X = PreProTrainData.drop('Target', axis=1)
y = PreProTrainData['Target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
#Model = RandomForest
from sklearn.ensemble import RandomForestClassifier
RFClassifier = RandomForestClassifier(n_estimators=100, random_state=42)
RFClassifier.fit(X_train, y_train)
y_pred = RFClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(RF ): {accuracy}")
pickle.dump(RFClassifier, open('/content/drive/MyDrive/CodeGnan/RandomForest.pkl', 'wb'))

Accuracy(RF ): 0.8823731138545954

In [31]:
#Model = LogisticRegression
from sklearn.linear_model import LogisticRegression
LRClassifier = LogisticRegression(max_iter = 2000)
LRClassifier.fit(X_train, y_train)
y_pred = LRClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(LR): {accuracy}")
pickle.dump(LRClassifier, open('/content/drive/MyDrive/CodeGnan/LogisticRegression.pkl', 'wb'))

Accuracy(LR): 0.8251028806584362

In [32]:
#Model = DecisionTree
from sklearn.tree import DecisionTreeClassifier
DTClassifier = DecisionTreeClassifier()
DTClassifier.fit(X_train, y_train)
y_pred = DTClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(DT): {accuracy}")
pickle.dump(DTClassifier, open('/content/drive/MyDrive/CodeGnan/DecisionTree.pkl', 'wb'))

Accuracy(DT): 0.7986968449931413

In [33]:
#Model = SupportVectorMachine
from sklearn.svm import SVC
SVMClassifier = SVC()
SVMClassifier.fit(X_train, y_train)
y_pred = SVMClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(SVM): {accuracy}")
pickle.dump(SVMClassifier, open('/content/drive/MyDrive/CodeGnan/SVM.pkl', 'wb'))

Accuracy(SVM): 0.8251028806584362

In [34]:
#Model = KNN
from sklearn.neighbors import KNeighborsClassifier
KNNClassifier = KNeighborsClassifier()
KNNClassifier.fit(X_train, y_train)
y_pred = KNNClassifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(KNN): {accuracy}")
pickle.dump(KNNClassifier, open('/content/drive/MyDrive/CodeGnan/KNN.pkl', 'wb'))

Accuracy(KNN): 0.801440329218107

In [35]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(81, 81), activation='relu', solver='sgd', random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy(NN): {accuracy}")
pickle.dump(MLPClassifier, open('/content/drive/MyDrive/CodeGnan/MLPC.pkl', 'wb'))

Accuracy(NN): 0.8251028806584362